body {
  background-color: mediumslateblue;
}

p {
  font-size: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
  background-color: aqua;
  text-align: center;
  margin-left: auto;
  Margin-right: auto;
}
